*{
 
    /* color: black; */
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* overflow-x: hidden; */
}
body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 4rem;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: #0E011B;
    margin:0;

}
h2{
    font-size: 2rem;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: #0E011B;
    margin:0;
}
h3{
    margin:0;

}

p{
    font-size: 1rem;

}
a{
    color: black;
}
button{
    padding: 8px 16px;
    border: transparent;
    background-color: white;
    color: #0E011B;
    border-radius: 5px;
    cursor: pointer;
}
section .head{
    text-align: center;
    margin: 50px 0px;
    font-size: 2rem;
    color: #0E011B;
}
header{
    text-align: center;
    width: 250px;
    margin-top: 16px;
}
.vertical-nav {
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    padding-top: 20px;
    z-index: 1;
    box-shadow: 0px 4px 8px black;
    overflow-y: hidden; 
}

.vertical-nav.expanded {
    overflow-y: auto;
    scrollbar-width: thin; 
    scrollbar-color: #888 transparent; 
}

.vertical-nav.expanded::-webkit-scrollbar {
    width: 6px;
}

.vertical-nav.expanded::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.vertical-nav.expanded::-webkit-scrollbar-track {
    background: transparent;
}
.logo img{
    max-height: 36px;
    max-width: 100%;
}
header .text{
    margin: 36px 0px;
}
.vertical-nav ul{
    list-style-type: none;
    padding-left:32px;
    padding-top: 11.5px;

}
.vertical-nav ul li:nth-child(1){
    padding-top:0px;
}
.drop ul{
    padding-left: 16px;
}
.drop a img{
    position: relative;
    top:8px;
    max-width: 100%;
    /* font-weight: 600; */
}
.vertical-nav ul li{
    padding: 10px 0;
    padding: auto;
    margin: 0;
}
.vertical-nav ul li a{
   text-decoration: none;
   font-size: 1rem;
   color: black;
    font-weight: 600;
}
.dropdown {
    display: none;
    list-style: none;
    padding-left: 20px;
}

.dropdown.show {
    display: block;
}

.horizontal-nav {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 4px 8px black;
    position: fixed;
    width: 100%;
    top: 0;
}

.menu-icon {
    font-size: 1.5rem;
    cursor: pointer;
}

.close-icon {
    display: none;
    font-size: 2rem;
    text-align: right;
    padding: 10px;
    cursor: pointer;
}
main{
    margin-left: 250px;
}

/* Loader stylings */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
  }
  
  .loader img {
    width: 150px;
    height: auto;
    animation: rotate 5s linear infinite;
  }
  
  .loader .loading-text {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-align: center;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  #content {
    padding: 20px;
  }
main {
    padding: 0;
    width: 85%; 
    overflow-x: hidden; 
    overflow-y: hidden;
}

.carousel-container {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

.carousel-text {
    position: absolute;
    top: 100px;
    left: 80px;
    color: white;
    /* background: rgba(0, 0, 0,0.5); */
    padding: 10px;
    line-height: 1.6;
    /* backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); */
    width: 500px;
}

.carousel-text p{
    color: black;
    font-weight: 600;
}
.carousel-text p:nth-child(1){
    background-color: grey;
    padding: 5px;
    color: white;
    width: 235px;
}
.carousel-text h1{
    font-size: 2rem;
}
.carousel-text h1 span{
    font-size: 2rem;
}
.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    
}
.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap:40px;

}

.apply_now button {
    padding: 8px 16px;
    border: transparent;
    cursor: pointer;
    font-weight: 600;
    border-radius: 5px;
    display: flex;
    font-size: 0.8rem;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    background-color: #FB6200;
}
.apply_now  a{
    text-decoration: none;
}
.apply_now:hover .apply-right-arrow{
    color:#0e011b;
 }


.apply_now button:hover{
    transition: 0.5s ease-in-out;
    transform: scale(1.1);
    background-color: #0E011B;
    color: white;
    font-weight: 600;
 }
.buttons .apply_now .connect_now{
    background-color: #FB6200;
    font-weight: 600;
    color: white;
    font-size: 1.1rem;
    padding: 16px 30px;
    
}
.buttons .apply_now .connect_now:hover{
    background-color: #0E011B;
    
}

.buttons .apply_now .know_more{
    background-color: #ffffff;
    font-weight: 600;
    color: #0E011B;
    font-size: 1.1rem;
    padding: 16px 30px;
    transform: scale(1.1);
}
.buttons .apply_now .know_more:hover{
    background-color: #fb6200;
    color: #0E011B;
}
.buttons .apply_now .connect_now:hover .apply-right-arrow{
    color: #FB6200;
}
.buttons .apply_now .know_more:hover .apply-right-arrow{
    color: #ffffff;
}
.buttons button:nth-child(2){
    font-weight: 600;
    font-size: 1.1rem;
    padding: 16px 30px;
}
.team .apply_now button{
    color:#0E011B;
    font-weight: 600;
    font-size: 1rem;
}

.team .apply_now button:hover .apply-right-arrow{
    color:#FB6200;
}
.team .apply_now button:hover{
    color:#ffffff;
}
.previous {
    left:0;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 70px;
    outline: none;
    line-height: normal;
    font-weight: normal;
    transition:  font-size 0.3s; 
    cursor: pointer;
}
.nextt {
    right: 20px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 70px;
    outline: none;
    line-height: normal;
    font-weight: normal;
    transition: font-size 0.3s;
    cursor: pointer;
}

/* .previous:hover,
.nextt:hover {
    width: 50px; 
    height: 80px; 
    font-size: 40px; 
} */
.dots {
    text-align: center;
    position: absolute;
    bottom: 20px; 
    width: 100%;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color:transparent; 
    border-radius: 50%;
    border: 1px solid #444444;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: white;  
}


.hero-section{
    height: 95vh;
    width: 100%;
   background: url(/static/images/it-recruitment/hero-section.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.hero-section h1{
  
   padding:200px;
   padding-top: 120px;
   padding-bottom: 10px;
   padding-left:50px;
}
.hero-section  button {
    margin: 0 60px;
    padding: 16px 30px;
    font-size: 1.1rem;
    background-color: #FB6200;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-top:0px;
}
.hero-section button:hover {
    background-color: #FB6200;
    transform: scale(1.1);
    font-weight: 600;
}


.hero-section button:hover {
    transform: translateY(-5px);
}

.hero-section  button:active {
    transform: translateY(0);
} 
/* Animations */

/* animations */
/* serach section */
.search-bar {
    display: flex;
    align-items: center;
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;
    background-color:  #f0f0f0;
    width:26rem;
  }
  
  .search-bar input {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
    width:1rem;
    background-color:  #f0f0f0;
    
  }
  
  .search-bar button {
    background-color: #f0f0f0;
    border: none;
    padding: 5px;
    cursor: pointer;
  }
  
  .search-bar .fa-search {
    font-size: 18px;
    color: #666;
  }
 
  .section2-div{
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* search section ends */
/* hero section starts*/
.hero-sec{
    height:auto;
}
.hero-img{
    width:100%;
    height: auto;
}
.section3{
    /* margin-top:2rem; */
    background-color: #DFDFDF;
    height:auto;
}
.blog-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.blog1{
    width: 360px;
    height: auto;
    background: url(/static/images/business-consulting/about-us.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 200px;
    border-radius: 0.5rem;
    position: relative;
    color:white;
    padding-bottom: 20px;
}
.blog1::before{
    content: "";
    position: absolute;
    top:0;
    right:0;
    left: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0,0.6);
    z-index: 1;
    border-radius: 0.5rem;
    /* opacity:0; */
}
.blog1:hover::before{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
}
.blog1 h2{
    position: relative;
    z-index: 2;
    color: #FB6200;
    padding: 10px 10px 0px 10px;
}
.blog1 h3{
    position: relative;
    z-index: 2;
    padding: 10px 10px 0px 10px;
    font-size: 1.5rem;

}.blog1 p{
    position: relative;
    z-index: 2;
    padding: 10px 10px 0px 10px;

}

.blog button{
    display: block;
    margin: 0 auto;
    background-color: #FB6200;
    color: black;
    font-size: 1rem;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 8px 16px;
    font-weight: 600;
}
.blog a{
    text-decoration: none;
}

/* new */
/* .section3-div{
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
  }
  
  .section-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .heading {
    flex: 0 0 100%; 
    padding: 20px;
  }
  
  .active {
    
  } */
/* new */
.heading h4{
 font-size: 2rem;
 /* padding-left: 3rem; */
 /* padding-right: 3rem; */
 color: #0E011B;
 margin-bottom:0;
 padding-top:1rem;
 margin-top:0;
}
.heading h4{
    padding-left: 40px;
    }
.content1{
    padding: 0px 40px;
    /* padding-right: 3rem; */
    flex-wrap: wrap;
    font-size: 1rem;
}
.content1 p{
    font-size: 1rem;
    padding-bottom:2rem;
    /* padding-right:2rem; */
}
.section4{
    height:auto;
    padding: 50px 0;
}
.section4 p{
    padding-top: 30px;
}
.section4-div{
    /* padding-top:1.5rem; */
    display: flex;
    justify-content: center;
    height:auto;
}
.img6-2{
    height:350px;
    width:400px;
    /* margin-top: 1.5rem; */
}

.content2{
    width:600px;
    flex-wrap: wrap;
    padding-right:2rem;
    padding-left:2rem;
    
}
.content2 h2{
    color: #0E011B;
    font-size: 2.5rem;
    display:flex;
    justify-content: center;
    align-items: center;
}
.content2 p{
    font-size: 1rem;
    padding-left:1rem;
}
.section5-div1{
    display:flex;
    justify-content: space-evenly;
    /* padding:2rem; */
    flex-wrap: wrap;
    
}
.heading5{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1rem;
}
.icon{
    display: grid;
    place-items: start;
}
.icon i{
    font-size: 30px;
    background-color: #e4e4e4;
    padding:20px;
    border-radius: 10px;
   color: #0E011B;

}
.icon-four i{
    font-size: 30px;
    background-color: #e4e4e4;
    padding:20px 30px;
    border-radius: 10px
}

.heading5 h2{
    display: flex;
    font-size:2.5rem;
    /* color:#FB6200; */
    justify-content: center;
    align-items: center;
    padding-left:2rem;
}

  
.img h2{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-left:1rem;
    padding-right:1rem;
}
.img p{
    flex-wrap: wrap;
    padding-left:1rem;
    padding-right:1rem;
}
.img1{
    width:330px;
    height: auto;
    margin-bottom: 1rem;
    padding:10px 20px;
    transition: transform 0.3s ease;
}
.img1:hover{
    background-color: #FB6200;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease-in-out;

}
.img1:hover .icon-four i{
    border-radius: 50%;
    padding: 20px 30px;
    background-color: #0E011B;
    color: white;
    transition: border-radius 0.3s ease-in-out;
}
.img1:hover h2{
    color: white;
}
.img1:hover .icon i{
    border-radius: 50%;
    background-color: #0E011B;
    color: white;
    transition: border-radius 0.3s ease;
}

  /* .img1:hover {
    cursor: pointer;
    transform: scale(1.1);
  } */

.img1 h2{
    display:flex;
    justify-content: start;
    align-items: center;
    margin-top: 20px;
    /* margin-left:1rem; */
    font-size: 1.3rem !important;
}
/* .img1 p{
    padding-left:1rem;
    padding-right:1rem;
} */
/* .img1-1{
    background-color: #0E011B;
    display:flex;
    justify-content: center;
    align-items: center;
    height:220px;
    width:303px;
} */
/* .img2{
    height:152px;
    width:152px;
} */
.img1 p{
    flex-wrap: wrap;
}
@keyframes zoomInOut{
    0%, 100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
}
.img1:hover .two i{
    /* filter: drop-shadow(0px 11px 4px #1E1E1E); */
    animation:zoomInOut 1.5s ease-in-out infinite;
}
@keyframes shakeIcon{
    0%, 100%{
        transform: translate(0);
    }
    25%, 75%{
        transform: translate(-5px);
    }
    50%{
        transform: translate(5px);

    }
}
.img1:hover .one i{
    animation: shakeIcon 1.5s ease-in-out infinite;
}
.img1:hover .one i{
    padding:19px 16px;
}

@keyframes spinAndScale{
    0%{
        transform: rotate(0deg) scale(0.8);
    }
    /* 50%{
        transform: rotate(180deg) scale(1.2);

    } */
    100%{
        transform: rotate(360deg) scale(1);

    }
}

.img1:hover .three i{
    animation: spinAndScale 1.5s ease-in-out infinite;
}
.img1:hover .three i{
    padding:19px 16px;
}
.img1:hover .icon-four i{
    animation: rotate 1.5s ease-in-out infinite;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);

    }
}
.img1:hover .icon-four i{
    padding:18px 22px;

}


.img1:hover .five i{
    animation: bounce 1.5s ease-in-out infinite;
}
@keyframes bounce {
    0%{
        transform: translateY(0);
    }
    30%{
        transform: translateY(-7px);
    }
    50%{
        transform: translateY(0);

    }
    75%{
        transform: translateY(-5px);

    }
    100%{
        transform: translateY(0);

    }
}
.img1:hover .five i{
    padding:20px 16px;

}

.img1:hover .six i{
    animation: flip 1.5s ease-in-out infinite;
}
@keyframes flip {
    0%{
        transform: rotateY(0deg);
    }
    
    50%{
        transform: rotateY(180deg);

    }

    100%{
        transform: rotateY(360deg);

    }
}


.heading6{
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading6 h1{
    display: inline-block;
    font-size:2.5rem;
    color:#FB6200;
    margin-left:1rem;

}

.box h1{
    font-size:2.5rem;
    display:flex;
    align-items: center;
    justify-content: center;
}
.boxes1{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.box{
    width:auto;
    height:220px;
}
.box:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.section9-div{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.section10-div{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    /* flex-wrap: wrap; */
}

.box1{
    width:25%;
    /* height:300px; */
    border:5px solid rgb(153, 150, 150);
    border-radius: 5px;
  
}
.box1 h3{
    display:flex;
    justify-content: center;
    align-items: center;
}
.box1 p{
    flex-wrap: wrap;
    padding:1rem;
}
.box2{
    width:25%;
    height:auto;
    border-radius: 5px;
    background-color: #0E011B;
   transition: transform 0.3s ease-in-out;
}

.box2:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
.box2 h2{
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    margin-bottom: 1.2rem;
    margin-top: 2rem;
}
.box2 p{
    flex-wrap: wrap;
    padding:1rem;
    color:white;
}
.box3{
    height:auto;
    border-radius: 10px;
    background-color:#CBCBCB;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: inline-block; */
}
.section12-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:2rem;
    margin-bottom: 1rem;
}
.img2-2{
    margin-right: 1rem;
}
.para{
   padding-right:3px;
   width:60%;
}
.banner-text a{
    text-decoration: none;
}
.para h1{
    font-size: 3rem;
    margin-bottom: 0;
    margin-left:1rem;
}
.btn2{
  margin-left:1rem;
  margin-top: 1rem;
}
.btn{
    color:white;
    background-color: #0E011B ;
    border:none;
    border-radius: 5px;
    height:40px;
}
.para1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.para1 h2{
        display: inline-block;
        font-size:2.5rem;
        color:#FB6200;
        margin-bottom:4px;
        margin-top:4px;
        margin-bottom: 10px;

}

.img3-3{
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.section8-div{
    border-top:5px solid rgb(163, 157, 157);
    border-bottom:5px solid rgb(163, 157, 157);
}
.img6-1{
    width:100%;
    height:450px;
}
/* animations */
.section3 {
    position: relative; 
  }
  
  .heading {
    opacity: 0;
    transform: translateX(-100%); 
    transition: all 0.8s ease-in-out; 
  }
  
  .heading.active {
    opacity: 1;
    transform: translateX(0);
  }
  
  /* Keyframes per l'animazione */
  @keyframes slideInFromLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  /* new */
 .section10-div{
 overflow-x: auto;
 margin-left:1rem;
 margin-right:1rem;
 }
 .section10-div::-webkit-scrollbar{
    width:0;
    cursor: pointer;
 }
.section10-div .box3{
 margin-right: 2rem;
 padding:1rem 5rem;
}
 






/* it recruitment expertise choose us */

/* About us */
.carousel2 {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 900px;
    height: auto;
    margin: 0 auto;
    border-radius: 1rem;
    overflow: hidden;
}

.choose-us-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.choose-us-one {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    position: relative;
}

.carousel-btn1 {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 40px;
    transform: translateY(-50%);
    z-index: 2;
}

.prev-btn {
    left: 20px;
}

.next-btn {
    right: 20px;
}

.choose-us-one-inner {
    position: relative;
    background: url(/static/images/business-consulting/service1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 250px;
    padding-bottom: 50px;
    height: auto;

    /* border-radius: 0.5rem; */
    box-shadow:
    0px 10px 20px rgba(0, 0, 0, 0.2),
    0px 3px 5px rgba(0, 0, 0, 0.4);
}
.choose-us-inner h3{
   
    font-weight: 600;
}

.choose-us-inner h3,
.choose-us-inner p {
    color: rgba(255, 255, 255, 0.8);
    transition: color 0.3s ease-in-out;
    position: relative;
    z-index: 2;
    text-align: start;
    padding: 0;
    margin: 0;
    padding-left: 35px;
  
}

.choose-us-one-inner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top,black, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.2));
    opacity: 0.6;
    transition: opacity 0.5s ease-in-out;
    z-index: 1;
    /* border-radius: 1rem; */
}

.choose-us-one-inner:hover::before {
    opacity: 1;
}

.choose-us-one-inner:hover h3,
.choose-us-one-inner:hover p {
    color: rgba(255, 255, 255, 1);
}

.choose-us-inner h3 {
    font-size: 1.8rem;
  
}

.text h3{
    color:#FB6200;
}




/* services */
.services-inner{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    /* padding: 30px 50px; */
}
.flip-card{
    /* flex: 0 1 calc(50% - 15px); */
    box-sizing: border-box;
    width: 40%;
    height:300px;
    perspective: 1000px;
    position: relative;
    margin-top: 10px;
    /* border: 1px solid black; */
    
    /* box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2),
    -10px -10px 20px rgba(255, 255, 255, 0.5); */
    
}
.flip-card:nth-child(2) {
    height: 430px;
  }
  
  .flip-card:nth-child(3) {
    margin-top: -120px;
    height: 410px;
  }
  
  .flip-card:nth-child(4) {
    height: 410px;

  }
  
  .flip-card:nth-child(5) {
    margin-top: -120px;
    height: 430px;
  }
 
  .flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
  }
  .flip-card-front, .flip-card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .flip-card-front{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:flex-start;
    background-image: url(/static/images/business-consulting/consultation.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   /* padding: 0px 0px 20px 20px; */
   border-radius: 12px;

  }
  .flip-card-front::before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background: linear-gradient(to top,black, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.2));
    /* background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)); */
    /* background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.2)); */
    border-radius: 12px;
  }
  .flip-card-back {
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items:flex-start;
    transform: rotateY(180deg);
    background-image: url(/static/images/digital-marketing/about-us1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* padding: 0px 0px 20px 20px; */
    z-index: 1;
    border-radius: 12px;
    
    transition: background-color 0.5s ease-in-out; /* Smooth transition */
}

.flip-card-back::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    transition: background 0.5s ease-in-out; /* Smooth transition */
}

.flip-card-back.flipped::before {
    background:linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.2))
        /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)); */

    /* background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.2)); */
}


  .flip-card-back::before{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);

  }
  .flip-card-front h2{
    position: relative;
    color: white;
    z-index: 2;
    padding-bottom: 10px;
    padding-left: 20px;
  }
  .flip-card-front p{
    position: relative;
    /* z-index: 2; */
    color: white;
    padding-left: 20px;

  }
  .flip-card-front  button{
    background-color: #FB6200;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative; 
    z-index: 2;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 1rem;
    margin:10px 0px 30px 20px;

  }
  .flip-card-back  p{
    position: relative;
    color: white;
    z-index: 2;
    padding:30px 0px 0px 20px;

  }
  .flip-card-back  button{
    background-color: #FB6200;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative; 
    z-index: 2;
    font-weight: 600;
    margin-bottom: 10px;
    margin:20px 0px 20px 20px;
    font-size: 1rem;

  }
  .flip-card.flipped .flip-card-inner{
    transform: rotateY(180deg);

  }

  .flip-card-back button:hover {
    background-color: #0E011B;
    border: 2px solid #FB6200;
    color: white;
  }
  
  .flip-card-front button:hover{
    background-color: #0E011B;
    border: 2px solid #FB6200;
    color: white;
  }
/* solution */

.solutions{
    margin-top: 80px;
}
.solutions .head{
    color: white;
}
.solutions-inner{
    padding:0px 30px;

}
.solutions-inner1{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px 50px;
}
.solutions-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(238, 238, 238); */
    background: url(/static/images/partner/banner.jpg);
    background-position: calc(100%-0px);
    
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    width: 100%;
    height: auto;
    position: relative;
    /* background-color: rgb(230, 230, 230); */
}
.solutions-card::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(14, 1, 27, 0.7);
}
.solution-one{
    flex: 0 1 calc(50% - 15px);
    width: 155px;
    height: 230px;
    padding: 20px 0px 0px 20px;
    box-shadow: 0px 4px 8px rgb(255, 255, 255,0.8);
    /* box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2),
    -10px -10px 20px rgba(255, 255, 255, 0.5); */
    border-radius: 0.5rem;
    box-sizing: border-box;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* transition: transform 0.3s ease-in-out; */

    /* background-color: white; */
}
/* .solution-one .icon{
    display: flex;
    justify-content: center;
    align-items: center;
} */
/* .solution-one h4{
    text-align: start !important;
} */
.solution-one:hover{
    background-color: #FB6200;
    /* transform: scale(1.1); */
}
.solution-one:hover h3{
    color: rgb(255, 255, 255);
}
.solution-one:hover h4{
    color: rgb(0, 0, 0);
}
.solution-one i{
    background-color: white;
    padding: 15px;
    border-radius: 50%;
    color: #FB6200;
    font-size: 24px;
    text-align: center;
}
.solution-one:hover i{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}
.solution-one h3{
    font-weight: 600;
    margin: 20px 0px;
    font-size: 1.3rem;

    /* font-size: 1.3rem; */
}
.solution-one h3, h4{
    color: white;
    /* text-align: center !important; */

}

/* animations */

@keyframes pulse{
    0%{
        transform:scale(0.7);
    }
    50%{
        transform:scale(1.1);
    }
    100%{
        transform:scale(0.7);
    }
}
.solution-one:hover .one i{
    animation: pulse 1.5s ease-in-out infinite;
}

/* 
@keyframes jelly{
    0%{
        transform:scale(1);
    }
    30%{
        transform:scale(1.1);
    }
    50%{
        transform:scale(0.9);
    }
    70%{
        transform:scale(1.05);
    }
    100%{
        transform:scale(1);
    }
} */
@keyframes roll{
    0%{
        transform:rotate(0deg);
    }
    50%{
        transform:rotate(90deg);
    }
    100%{
        transform:rotate(0deg);
    }
}

.solution-one:hover .two i{
    animation: roll 1.5s ease-in-out infinite;
}

@keyframes slide{
    0%{
        transform:translateY(0);
    }
    30%{
        transform:translateY(10px);
    }
    50%{
        transform:translateY(5px);
    }
    70%{
        transform:translateY(10px);
    }
    100%{
        transform:translateY(0px);
    }
}

.solution-one:hover .three i{
    animation: slide 1.5s ease-in-out infinite;
}


.solution-one .three i{
    padding: 14px 19px;
}

@keyframes jiggle{
    0%{
        transform:rotateY(150deg) scale(1.2);
    }
    25%{
        transform:rotateX(20deg) scale(1.1);
    }
    50%{
        transform:rotateY(-20deg) scale(1.05);
    }
    75%{
        transform:rotateX(10deg) scale(1.1);
    }
    100%{
        transform:rotateY(0deg) scale(1.2);
    }
}

.solution-one:hover .four i{
    animation: jiggle 1.5s ease-in-out forwards infinite;
}
.banner{
    background-color: rgb(238, 238, 238) ;
    background: url(/static/images/digital-marketing/banner-bgd.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 50px 0px;
    position: relative;
}

.banner::before{
    content: "";
    position: absolute;
    top:0;
    right:0;
    left: 0;
    bottom: 0;
    /* background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)); */

    background-color: rgba(10, 2, 27, 0.7);
    z-index: 1;
    border-radius: 0.5rem;
    /* opacity:0; */
}
/* .banner:hover::before{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
} */
.banner-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    border-radius: 0.5rem;
    padding: 30px 0px 46px 0px;

}
.banner-inner .banner-image img{
    width: 400px;
    height: auto;
    position: relative;
    z-index: 2;
    border-radius: 0.5rem;
}
.banner-text h3{
    font-size: 1.5rem;
    font-weight: 600;
    position: relative;
    z-index: 2;
    color: #FB6200;
}
.banner-text p{
    font-size: 1.2rem;
    position: relative;
    z-index: 2;
    color: white;
}
.banner-text h3,p{
    margin-top: 10px;
}

.banner-text button{
    margin-top: 10px;
    background-color: #FB6200;
    color: black;
    font-weight: 600;
    padding: 8px 16px;
    font-size: 1rem;
    position: relative;
    z-index: 2;
}


.apply_now button {
    padding: 8px 16px;
    border: transparent;
    cursor: pointer;
    font-weight: 600;
    border-radius: 5px;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    font-weight: 600;

    background-color: #FB6200;
}
.apply_now button:hover{
    transition: 0.5s ease-in-out;
    transform: scale(1.1);
    
}
.apply_now  a{
    text-decoration: none;
}
.apply_now .apply-right-arrow{
    margin-left: 5px;
}
.apply_now:hover .apply-right-arrow{
    color:#FB6200;
 }
.footer-inner .apply_now button:hover{
    color: #0E011B;
    transition: 0.5s ease-in-out;
    transform: scale(1.1);
}
.footer-inner .apply_now button:hover{
    color: #0E011B;
}
.footer-inner .apply_now button:hover .apply-right-arrow{
    color: #0E011B;
}
.apply_now button:hover{
    transition: 0.5s ease-in-out;
    transform: scale(1.1);
    background-color: #0E011B;
    color: white;
    font-weight: 600;
 }
/* footer */

footer{
    margin-left:250px;
    /* background-color:#5c5b5b; */
}
.footer-inner{
    margin-top: 30px;
    
}
footer a{
    text-decoration: none;
    color: black;
}
.footer-inner .row1{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    /* padding-left: 30px; */
}
.footer-inner .row1-inner button{
    background-color: #FB6200;
    color: #0E011B;
    padding: 8px 16px;
    border-radius: 40px;
    margin-top: 10px;
}
.footer-inner .apply_now button:hover{
    transition: 0.5s ease-in-out;
    transform: scale(1.1);
    background-color: #0E011B;
    color: white;
}
.footer-inner .apply_now button:hover .apply-right-arrow{
    color: #FB6200;
}
.footer-inner .row1-inner img{
    width: 200px;
}
.footer-inner .apply_now button:hover{
    color: #0E011B;
    transition: 0.5s ease-in-out;
    transform: scale(1.1);
}
.footer-inner .apply_now button:hover{
    color: white;
}
.footer-inner .apply_now button:hover .apply-right-arrow{
    color: #FB6200;
}
.social-icons{
    display: flex;
    margin-top: 20px;
    gap:20px;
    font-size: 1.5rem;
}
.social-icons .insta{
    width: 32px;
    height: 32px;
}
.social-icons .twit{
    width: 35px;
    height: 34px;
}
.social-icons .fb{
    width: 48px;
    height: 48px;
}
.row2{
    display: flex;
    justify-content: space-around;
    /* flex-direction: column; */
    align-items: baseline;
    flex-wrap: wrap;
    /* padding-left: 30px; */

    
}

.one .ones{
    font-size: 30px;
    color: #FB6200;
    width: 32px;
    height: 32px;
}
.three .place{
    font-size: 30px;
    color: #FB6200;
    width: 32px;
    height: 32px;
}
.newsletter, .content6-inner, .quick-links ,.legal{
    line-height: 2;
}
.newsletter-fields input[type='text']{
    width: 200px;
    height: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.newsletter-fields button{
    background-color: #FB6200;
    border-radius: 0;
    border-top-right-radius: 5px;;
    border-bottom-right-radius: 5px;

}
.newsletter-fields input[type='text']::placeholder{
    padding-left: 10px;
   
}
.content6-inner{
    line-height: 1.4;
}
.content6-inner img{
    width: 20px;
    height: 24px;
}
.content6-inner .one, .two, .three{
    display: flex;
    justify-content: baseline;
    gap:10px;
    align-items:baseline;
}

.quick-links h2{
    color: #FB6200;
    font-size: 1.5rem;
    font-weight: 400.;
}
.legal h2{
    color: #FB6200;
    font-size: 1.5rem;
    font-weight: 400;
}
.content6-inner .two, .three{
    padding-top: 10px;
}
.content6-inner .ones , .place{
    position: relative;
    top:10px;
}
.legal, .quick-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.quick-links{
    margin-top: 20px;
}
.newsletter h3{
    color: #FB6200;
    /* font-weight: 600; */
    font-size: 1.5rem;
}
.columns{
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap:60px;
}
.lines{
    border: 0;
    height: 1px;
    background: linear-gradient(to right, transparent, #000, transparent);
    margin: 20px 0;
    opacity: 0;
    animation: fadeInHr 2s forwards;
}
.line{
    /* margin: 30px 0px;
    border: 0;
    background: (to right,transparent,grey,grey,grey,transparent);
    opacity: 0;
    animation: fadeInHr 2s forwards;  */

    border: 0;
    height: 2px;
    background: linear-gradient(to right, transparent,grey,grey, grey, transparent);
    margin: 20px 0;
    opacity: 0;
    animation: fadeInHr 2s forwards;
}

@keyframes fadeInHr {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.newsletter-fields{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row1-inner h2{
    color:#0E011B;
}
.row1-inner{
    display: flex;
    justify-content:space-around;
    gap:20px;
    align-items: center;
}

.line{
    /* margin: 30px 0px;
    border: 0;
    background: (to right,transparent,grey,grey,grey,transparent);
    opacity: 0;
    animation: fadeInHr 2s forwards;  */

    border: 0;
    height: 1px;
    /* background: #0E011B; */
    background: linear-gradient(to right, transparent,grey,grey, grey, transparent);
    margin: 20px 0;
    opacity: 0;
    animation: fadeInHr 2s forwards;
}

@keyframes fadeInHr {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.quick-links h2{
    font-weight: 400;
}

/* Dark mode stylings */

.dark-mode-toggle {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 1rem;
    max-width: 120px;
    margin: 0 auto;
    margin-top: 20px;
    /* background-color: #666666; */
}

.dark-mode-toggle span {
    cursor: pointer;
    
    transition: color 0.3s ease;
}

#sun-icon.active {
    background-color: #8f8f8f;
    border-radius: 1rem;
    padding:5px 10px;

}

#moon-icon.active {
    background-color: #8f8f8f;
    border-radius: 1rem;
    padding:5px 10px;

}

body {
    background-color: white;
    color: black;
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #1E1E1E;
    color: #e0e0e0;
}
body.dark-mode .vertical-nav {
    background-color: RGBA(122,122,122);
    color: white;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2), 
    0 6px 10px rgba(255, 255, 255, 0.2);
    z-index: 9;
    /* background: linear-gradient(to bottom, white, rgb(255, 255, 255,0.6),rgb(255, 255, 255,0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)); */


}
body.dark-mode .horizontal-nav {
    background-color: #000000;
    color: white;
    box-shadow: 0px 2px 4px rgb(255, 255, 255,0.2);
    z-index: 9;

}
body.dark-mode .drop i{
    color:#fb6200
}
body.dark-mode .text h3{
    color: white;
}
body.dark-mode .vertical-nav ul li a{
    color: rgb(0, 0, 0);
    font-weight: 600;

}
body.dark-mode section .head2{
    color: #FB6200;
}
body.dark-mode section h2{
    /* color: rgba(131,70,193); */
    color:rgba(255,133,55);
}
body.dark-mode p{
    color: white;
}
/* footer starts */
body.dark-mode footer .quick-links a{
    color:white
}
body.dark-mode .legal a{
    color:white

}
body.dark-mode footer h2{
    font-weight: 400;
}
body.dark-mode .newsletter-fields button{
    background-color: #fb6200;
    font-weight: 600;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: transparent;

}
/* .body.dark-mode .flip-card-front::before{
     background:linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.2))
} */
body.dark-mode .newsletter-fields input[type='text']::placeholder{
    padding-left: 10px;
}
body.dark-mode .newsletter-fields input[type='text']{
    height: 34px;
    border: transparent;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
body.dark-mode .social-icons i{
    color:#FB6200;
}

body.dark-mode .footer-inner .row1-inner button{
    background-color: #fb6200;
}
body.dark-mode .footer-inner .row1-inner button:hover{
    background-color: #0E011B;
    color:white;
    
}
body.dark-mode .footer-inner .row1-inner button:hover .apply-right-arrow{
    color:#FB6200
}
body.dark-mode .lines{
    border: 0;
    height: 1px;
    background: linear-gradient(to right, transparent, white, transparent);
    margin: 20px 0;
    opacity: 0;
    animation: fadeInHr 2s forwards;
}
/* footer ends */
body.dark-mode .section3{
    background-color: black;
}
body.dark-mode .section3 h4{
    color: #FB6200;
}
body.dark-mode .choose-us{
    background-color: rgb(41, 41, 41);
    padding: 40px 0px;
}
body.dark-mode .section6{
    margin:60px 0 0px 0px;
    background-color: rgba(41,41,41);
    padding-bottom: 40px;
}

body.dark-mode .img1:hover h2{
    color:#0E011B;
}
body.dark-mode .icon-four i{
    color:black
}
body.dark-mode section .head{
    color:#FB6200 !important;
}
/* .footer{
    background-color: rgba(122,122,122);
} */









@media (max-width:1279px){
    .hero-section{
        height: auto;
        width: 100%;
        padding-bottom: 50px;
    }
    .hero-section h1{
        padding-right: 0px;
    }
   .banner-inner{
    flex-wrap: wrap;
    padding: 0px 20px;
   }


}

@media (max-width: 1279px) {
 
    .vertical-nav {
        top:0px;
        width: 250px;
        left: -100%;
        transition: left 0.6s ease;
        background-color: white;
        z-index: 100;
            
    }
    .vertical-nav ul{
        list-style-type: none;
        padding-left:24px;
    
    }
    .vertical-nav ul li {
        text-align: start;
        /* margin-left: 40px; */
    }

    .close-icon {
        display: block;
        margin-right: 20px;
        font-weight: 800;
    }
   
    .horizontal-nav {
        display: flex;
        justify-content: center;
        gap:30px;
        z-index: 99;
       /* width: 95%; */
    }
    .dropdown{
       margin: 0;
       padding: 0;
    }

    header {
        display: none;
    }

    main {
        margin: 0;
        padding: 0;
        width:100%;
    }
  
.row1{
    margin-left: 20px;
}
.footer-inner .row1 button{
    box-shadow: 0px 2px 4px black;
}
.newsletter ,.content6-inner ,.quick-links ,.legal{
    line-height: 1.3;
}

.row1 h2{
    color:#FB6200;
}


main {
    margin-left: 0;
    padding-top: 60px; 
}
footer {
    margin-left: 0;
    padding-top: 0px; 
}

    .vertical-nav.active {
        left: 0;
    }
 
 

    .line{
        width: 100%;
    }}

@media (max-width: 1059px) {
    
    .solutions-card{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .solutions-inner1{
        flex-wrap: wrap;
    }
   .blog-inner{
    flex-wrap: wrap;
   }
    
}





@media (max-width:1056px) {
    
    .Business-Consulting .blog{
        display: flex;
        justify-content: center;
        align-items: center;
        gap:30px;
        flex-wrap: wrap;
        padding:0px 30px;
    }
    .sub-heading{
        padding:0px 30px;

    }
    .blog .blog-image img{
        width:350px ;
        height: 330px;
    }
    .blog-pages{
        text-align: start;
        margin-left: 30px;
        font-size: 1.5rem;
        margin-top: 50px;
        color: gray;
    }
    .popular-post-inner .container{
        display: flex;
        justify-content: center;
        gap:30px;
        align-items: center;
    }
    h1{
        font-size: 2.5rem;
    }
    .carousel-slide{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    
    .vertical-line{
        display: none;
    }
   
}
/* media queries */
@media (max-width:1000px){
    .section4-div {
          flex-wrap: wrap;
      }
      
    .section5-div1 {
     display: flex;
     /* justify-content: center; */
     align-items: center;
     flex-wrap: wrap;
  }
  .section12-div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1rem;
    flex-wrap: wrap;
}
.btn2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.content2 h2{
    font-size: 2.5rem;
}
.para{
    width:100%;
}
}

@media (max-width:900px){
    .section9-div{
        flex-direction: column;
    }
    .box1{
        margin-bottom: 2rem;
        width:70%;
    }
    .box2{
        margin-bottom: 2rem;
        width:70%;
    }
    .box3{
        margin-bottom: 2rem;
        /* width:50%; */
    }
}


@media (max-width:774px){

.newsletter{
order: 1;
}
.newsletter h3{
/* font-weight: 600; */
color: #FB6200;   
 font-size: 1.2rem ;

}
/* .row1, .row2{
padding-left: 20px;
} */
/* .newsletter button{
padding: 0;
margin-top: 10px;
} */
.newsletter-fields{
display: flex;
justify-content: center;
align-items: center;
}
.quick-links h2{
color: #FB6200;
font-size: 1.2rem ;
}
.legal h2{
color: #FB6200;
font-size: 1.2rem;

}
.ques-one{
padding: 0;
}


}

@media (max-width:768px){
    .choose-us-one-inner::before {
        background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.2));
        opacity: 1;
    }
    .flip-card{
        box-sizing: border-box;
        width: 100%;
        height:auto;
        perspective: 1000px;
        position: relative;
        margin-top: 10px;
        /* border: 1px solid black; */
        
        /* box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2),
        -10px -10px 20px rgba(255, 255, 255, 0.5); */
        
    }
    .flip-card:nth-child(3),
  .flip-card:nth-child(5) {
    margin-top: 0;
  }

  /* .flip-card{
    width: 100%;
    height: 350px;
  } */

  .flip-card-front,
.flip-card-back{
  height: 350px;
}

.flip-card:nth-child(2) {
  height: 350px;
}

.flip-card:nth-child(3) {
  height: 360px;
}

.flip-card:nth-child(5) {
  height: 350px;
}
.flip-card:nth-child(4) {
  height: 359px;
} 
.row2{
    justify-content: start;
}
footer h2{
    font-size: 1.5rem;
    /* padding: 10px 0px; */
}
.newsletter{
    margin-top: 10px;
}
.newsletter h3{
    /* font-weight: 600; */
    color: #FB6200;
}
.lines{
    margin: 20px 0px 10px 0px;
 }
 /* .newsletter-fields button{
    padding: 0;
 } */
 .footer-inner .row1{
    justify-content: start;
 }

}
@media (max-width:768px) {
    .horizontal-nav {
        display: flex;
        justify-content:center;
        z-index: 99;
    }
    .category .category-inner {
        gap:10px; 
    }
    .category .text{
        max-width: 400px;
    }
    .categories {
        flex: 1 150px; 
        margin: 10px; 
    }
    .job-one{
        background-color: white;
        border-radius: 5px;
        flex-basis: 70%;
    }
    .Hero-section-image{
        width: 200px;
    }
   

    .banner{
        padding-bottom: 30px;
    }
    .keywords-container{
        margin-left: 0px;
      }
      
      .keywords-container h2{
                font-size: 1.3rem;
                text-align: left; 
                margin-left: 20px; 
                color: #20124D;
              }

      .keywords {
                  display: flex;
                  flex-wrap: wrap;
                  gap: 10px;
                  width: 100%;
                  
                  
                  
              }
      .keywords a {
          display: inline-block;
          padding: 8px 10px;
          border: 1px solid #bab8b8;
          text-decoration: none;
          color: #000;
          font-size: 0.8rem;   
          transition: background-color 0.3s, color 0.3s;
          border-radius: 5px;
          margin-right: 20px;
      }
      .keywords a:hover {
          background-color: #FB6200; 
          color: #000;
      }
       .Banner {
          position: relative;
          width: 100%; 
          height: 350px; 
          overflow: hidden;
          margin-left: 0;
          display: flex;
          padding-left: 0px;
          align-items: center;
          color: white; 
          text-align: start; 
          margin-top: 30px;

      }

      .background {
          position: absolute;  
          width: 99%;
          height: 400px; 
          background-image: url('/static/images/blog/Bg_image.png'); 
          background-size: cover;
          background-repeat: no-repeat;
          z-index: 1; 
          animation: moveUpDown 15s infinite linear;
      }

      @keyframes moveUpDown {
          0% {
              transform: translateY(0%);
          }
          50% {
              transform: translateY(-10%);
          }
          100% {
              transform: translateY(0%);
          }
      }

      .content {
          position: relative;
          z-index: 2; 
         padding-left: 10px;
      }

      .Banner h2 {
          font-size: 1.3rem;
          padding-left: 0px;
          color: #20124D;
          padding-top: 0px;
          margin-top: 0;
      }
      
      .email-input-container {
          display: flex; 
          padding-left: 0px;
         
      }

      .email-input {
          border: none;
          padding: 8px 16px;
          width: 200px; 
          font-size: 16px;
          outline: none;
      }

      .email-submit-btn {
        background-image: url(/static/images/blog/Btn.png);
        background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          border: none;
          padding: 5px 8px;
          width: 30px;
          cursor: pointer;
          outline: none;
      }
      .solutions-inner1{
        flex-direction: column;
        padding: 0;
    }
    .solution-one{
        width: 100%;
        height: auto;
    }
    .solution-one h4{
        padding-bottom: 20px;
    }
    .solutions-card{
        padding: 50px 0px;
    }
    .row2{
        justify-content: start;
    }
    footer h2{
        font-size: 1.5rem;
        /* padding: 10px 0px; */
    }
    .newsletter{
        margin-top: 10px;
    }
    .newsletter h3{
        /* font-weight: 600; */
        color: #FB6200;
    }
    .lines{
        margin: 20px 0px 10px 0px;
     }
     /* .newsletter-fields button{
        padding: 0;
     } */
     .footer-inner .row1{
        justify-content: start;
     }
     .img1:hover {
        transition: none;
        transform: none;
      }
      
   .box2:hover {
      transition: none;
      transform:none
   }
   .hero-section button{
     padding: 8px 16px;
     font-size: 1rem;
   }
   .row2{
    padding-left: 30px;
    gap:20px
 }
 .carousel-text{
    top:10px;
    left:10px;
    line-height: 1.2;
}
.carousel-text h1 span{
    font-size: 1.2rem;
}
.dot{
    width: 5px;
    height: 5px;
}
.carousel-text h1{
    font-size: 1.2rem;
}
.carousel-text p{
    font-size: 0.8rem;
}
.buttons button:nth-child(1){
    font-size: 0.8rem;
}
.buttons button:nth-child(2){
    font-size: 0.8rem;

}
.carousel-text p:nth-child(1){
    width: 170px;
    font-size: 0.8rem;
}
.buttons{
    margin-top: 5px;
    gap: 10px;
}
.nextt{
    font-size: 20px;
}
.previous{
    font-size: 20px;

}
.buttons .apply_now .connect_now{
    padding: 8px 10px;
    font-size: 0.9rem !important;

}
.buttons .apply_now .know_more{
    font-size: 0.9rem !important;
    padding: 8px 10px;

}
.left{
    font-size: 20px;
    left:0;
}
.right{
    font-size: 20px;
    right:0;
}
.content2 h2{
    font-size: 1.5rem;
    margin: 20px 0;
}
.section4 p{
    padding-top: 0;
}
.choose-us h2{
    margin: 0 ;
    font-size: 1.5rem;
    margin: 20px 0 !important;

}
section .head{
    font-size: 1.5rem;
    margin: 20px 0;

}
.section4{
    padding: 0;
}
.content2{
    padding: 0;
}
.choose-us-one{
    padding: 0;
}
.next-btn{
    right:0
}
.prev-btn{
    left:0;
}
.choose-us-one-inner{
    padding-top: 50px;
}
h2{
    font-size: 1.5rem;
}
.apply_now button{
    padding: 8px 10px;
    font-size: 0.9rem;
}
.icon h2{
    font-size: 1.3rem;
}
.solutions{
    margin-top: 0;
}
.blog button{
    margin: 0 auto;
    margin-top: 20px;
}
.banner{
    margin-top: 10px;
}
.banner-text h3{
   font-size: 1.3rem;
}
p{
    margin-top: 0;
}
.banner{
    margin: 0;
}
.footer-inner .row1-inner button{
    padding: 8px 10px;
    font-size: 0.9rem;
}
.content6-inner .two, .three{
    padding-top: 0;
}
.columns{
  
    gap:30px;
}
.copyright{
    padding: 0 20px;

}
.candi{
    padding: 0 20px;

}
.footer-inner .row1-inner img{
    width: 130px;
    height: auto;
    }
    .text h3{
        font-size: 1rem;
        margin-right: 10px;
    }
}

    
@media(max-width:600px){
    .row1-inner{
        justify-content: start;
        flex-wrap: wrap;
        gap:0;
    }
}

@media (max-width: 600px) {
    .carousel2 {
        max-width: 100%; 
    }

    
    .carousel-btn1 {
        font-size: 20px; 
        padding: 5px; 
    }
    .prev-btn {
        left: 10px; 
    }

    .next-btn {
        right: 10px;
    }

   
    .next-btn {
        right:0px;
    }
    .prev-btn{
        left:0px;
    }

}    
@media  (max-width:600px){
    .boxes1{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .row1-inner{
        justify-content: start;
        flex-direction: column;
        align-items: start;
        gap:0;
    }
    .footer-inner{
        padding-left: 30px;
        margin-top: 0;
    }
    .row2{
        padding-left: 0px;
        gap:0px;

     }
    
}@media (max-width:483px){
    .search-bar{
       width:15rem;
       margin: 1.5rem;
    }
    .paragraph{
       width:420px;
       height:auto;
    }
    .child-1{
       margin-left:2rem;
    }
    .child-2{
       width:320px;
       height:250px;
       margin-left:4.5rem;
    }
    .heading h4{
    padding-left: 20px;
    }
    .content1{
    padding: 0px 20px;
    /* padding-right: 3rem; */
    flex-wrap: wrap;
    font-size: 1rem;
}
 
     }
    
        @media (max-width:320px){
            .hero-sec{
                height:auto;
                margin-bottom: 0;
            }
            .hero-img{
                width:100%;
            }
            .section3{
                margin-top:0;
            }
            .section3-div{
                padding-top: 0;
            }
            .content1{
                padding-left: 2rem;
                padding-right: 1rem ;
            }
            .img4-4{
                height:200px;
                width:260px;
                margin-left:1rem;
                margin-right:1rem;
            }
            .heading5 h2 {
                font-size: 1.5rem;
                padding-left:0;
            }
            .img1-1{
                margin-left:1rem;
                width:260px;
            }
            .heading6 h1{
                font-size:1.5rem;
            }
            .box{
                height:130px;
            }
            .box h1{
                font-size:1.5rem;
            }
            .para h1 {
                font-size: 1.5rem;

            }
            .img6-1{
                height:230px;
                width:320px
            }
            .para1 h2 {
                font-size: 1.8rem;
            }
            .img6-2{
                width:250px;
                height:230px;
            }
            .content2 h2 {
                font-size: 1.5rem;
            }
        }
        
        
